.go-top {
    width: 50px;
    height: 50px;
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #3a09ec;
    border-radius: 50%;
    color: #fff;
    border: 0;
  }
  
  .go-top:before {
    width: 13px;
    height: 13px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    content: '';
    border-style: solid;
    border-color: #fff;
    border-width: 1px 1px 0 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -3px 0 0 -6px;
  }
  
  .go-top:hover {
    /* color: #f41a1a; */
    background-color: #fff;
    border: 1px solid #3707bb;
  }
  
  .go-top:hover:before {
    width: 13px;
    height: 13px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    content: '';
    border-style: solid;
    border-color: #3208de;
    border-width: 1px 1px 0 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -3px 0 0 -6px;
  }
  @media only screen and (max-width: 767px) {
    .go-top {
        width: 40px;
        height: 40px;
        display: none;
        
      }
    
      .go-top:before {
        width: 11px;
        height: 11px;
      }
    
  }  